{% extends 'base.html.twig' %}

{% block title %}Modifier l'Événement{% endblock %}

{% block stylesheets %}
 {{ parent() }}
        <link rel="stylesheet" href="assets/css/style.css" />
        {% endblock %}

{% block body %}
<h1>Modifier l'Événement</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}

<form method="post" action="{{ path('evenement_delete', {'id': evenement.id}) }}" onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">
    <button class="btn btn-danger mt-3">Supprimer l’événement</button>
</form> 

<a href="{{ path('evenement_show', {'id': evenement.id}) }}" class="btn btn-secondary mt-3">Retour</a>
{% endblock %}
