{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
 {{ parent() }}
        <link rel="stylesheet" href="assets/css/style.css" />
        {% endblock %}

{% block body %}
    {# <header>
        <nav>
            <ul>
                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                <li><a href="{{ path('evenement_index') }}">Événements</a></li>

                {% if app.user %}
                    <li><a href="{{ path('app_profile_edit') }}">Mon profil</a></li>

                    {% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_ORGA' in app.user.roles %}
                        <li><a href="{{ path('evenement_new') }}">Créer un événement</a></li>
                    {% endif %}

                    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">Connexion</a></li>
                    <li><a href="{{ path('app_register') }}">Inscription</a></li>
                {% endif %}
            </ul>
        </nav>
    </header> #}

    <main>
        <h1>Bienvenue sur la plateforme d'événements 🎉</h1>
        <p>Consultez les événements à venir ou connectez-vous pour y participer !</p>
    </main>
{% endblock %}
