{% extends 'base.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
        <link rel="stylesheet" href="assets/css/style.css" />
        {% endblock %}

{% block body %}
    <h1>Inscription</h1>
    {{ form_start(form) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        <button class="btn btn-primary">S'inscrire</button>
    {{ form_end(form) }}
{% endblock %}
